[submodule "third_party/iarnet-proto"]
	path = third_party/iarnet-proto
	url = git@github.com:9triver/iarnet-proto.git
[submodule "third_party/lucas"]
	path = third_party/lucas
	url = git@github.com:Xdydy/Lucas.git
