[submodule "third_party/iarnet-proto"]
	path = third_party/iarnet-proto
	url = git@github.com:9triver/iarnet-proto.git
[submodule "third_party/lucas"]
	path = third_party/lucas
	url = git@github.com:Xdydy/Lucas.git
[submodule "third_party/ignis"]
	path = third_party/ignis
	url = https://github.com/9triver/ignis.git
[submodule "providers/unikernel/mirage-websocket"]
	path = providers/unikernel/mirage-websocket
	url = https://github.com/iori2333/mirage-websocket.git
