# 虚拟机配置清单
# 用于批量创建和管理100台虚拟机

# 全局配置
global:
  base_image: "/var/lib/libvirt/images/ubuntu-22.04-cloud.qcow2"  # 基础镜像路径
  network_name: "iarnet-network"  # libvirt 网络名称
  ssh_key_path: "~/.ssh/id_rsa.pub"  # SSH 公钥路径
  user: "ubuntu"  # 默认用户

# 虚拟机类型配置
vm_types:
  # iarnet 节点
  iarnet:
    count: 3
    cpu: 2
    memory: 2048  # MB
    disk: 20  # GB
    ip_base: "172.30.1"
    ip_start: 10
    hostname_prefix: "vm-iarnet"
    
  # Kubernetes 集群配置
  k8s_clusters:
    count: 20  # 20个集群
    master:
      cpu: 2
      memory: 2048
      disk: 30
      ip_base: "172.30.2"
      ip_start: 1  # 集群1 master从 .1 开始
      ip_step: 3  # 每个集群占用3个IP（master + 2 worker）
      hostname_prefix: "vm-k8s-cluster"
      hostname_suffix: "-master"
      # 每个master节点运行K8s Provider，使用不同端口
      provider_port_base: 50052  # 集群1使用50052，集群2使用50053...
    worker:
      count_per_cluster: 2
      cpu: 1
      memory: 1024
      disk: 20
      hostname_prefix: "vm-k8s-cluster"
      hostname_suffix: "-worker"
      
  # Docker Provider 节点
  docker:
    count: 37
    cpu: 1
    memory: 1024
    disk: 20
    ip_base: "172.30.3"
    ip_start: 1
    hostname_prefix: "vm-docker"

# Pod 网络 CIDR 分配（每个集群一个）
k8s_pod_cidrs:
  - "10.244.0.0/16"  # 集群1
  - "10.245.0.0/16"  # 集群2
  - "10.246.0.0/16"  # 集群3
  - "10.247.0.0/16"  # 集群4
  - "10.248.0.0/16"  # 集群5
  - "10.249.0.0/16"  # 集群6
  - "10.250.0.0/16"  # 集群7
  - "10.251.0.0/16"  # 集群8
  - "10.252.0.0/16"  # 集群9
  - "10.253.0.0/16"  # 集群10
  - "10.254.0.0/16"  # 集群11
  - "10.255.0.0/16"  # 集群12
  - "10.240.0.0/16"  # 集群13
  - "10.241.0.0/16"  # 集群14
  - "10.242.0.0/16"  # 集群15
  - "10.243.0.0/16"  # 集群16
  - "10.230.0.0/16"  # 集群17
  - "10.231.0.0/16"  # 集群18
  - "10.232.0.0/16"  # 集群19
  - "10.233.0.0/16"  # 集群20

